html, body {
    margin: 10px;
}

.navbar{
  background-color: white;
  /*background-color: black;*/
  opacity: 0.9;
  height: 80px;
  /*padding-top: 10px;*/
}

#nav-form {
  margin-top: 15px;
}

.fixed {
  position: fixed;

}

#map-container{
  height:86%;
}

#map {
    height: 100%;
    width: 95%;
    top: 60;
    /*top: 60;*/
    /*z-index: 999;*/
    /*left: 10;*/

    margin-bottom: 10px;

}

body {
  font-family: 'Arvo', serif;
  padding-top: 60px;
  /*background-color: gray;*/
}

.card {
  margin-top: 0px;
  margin-left: 6px;
  margin-bottom:6px;
  border-radius: 2px;
  border: rgba(51,51,51,0.7);
}

.col-md-3{
  padding: 0;
}

.fa {
  margin-top: 12px;
  margin-right: 15px;
  margin-left: 5px;
}

.list-group-item{
  padding-left: 8px;
  padding-right: 8px;
}

.dropdown-menu{
  background-color: rgba(255,255,255,0.8);
  padding-left: 5px;
  padding-right: 5px;
}

.dropdown-menu .bottom {
  background-color: white;
  text-align: center;
}

#login-button {
  width: 100%; 
  margin-top: 4px;
  margin-bottom: 8px;
}

.subtext {
  font-size: 14px;
  color: white;
}

.drop-text {
  font-size: 14px;
}

.modal-body {
  padding-bottom: 0px;
}

.modal-footer {
  margin-top: 15px;
}

.media-object{
  width:50px;
}

.thumb1 { 
background: url(blah.jpg) 50% 50% no-repeat; /* 50% 50% centers image in div */
width: 64px;
height: 64px;
}


