html, body {
    margin-left: 40px;
    margin-right: 30px;
}

.navbar{
  background-color: white;
  /*background-color: #ff8000;*/
  /*background-color: black;*/
  opacity: 0.9;
  height: 130px;
  padding-top: 3px;
}

.navbar-brand{
  height: 85px;
  margin-right:4px;
}

#nav-form {
  margin-top: 22px;
}


/*textarea:-webkit-autofill {
    background-color: rgb(255, 255, 255);
    background-image: none;
    color: rgb(0, 0, 0);
}

input:-webkit-autofill {
    background-color: white;
    background-image: none;
    color: rgb(0, 0, 0);
}*/

.fixed {
  position: fixed;

}

#map-container{
  height:80%;
  padding-right:6px;
}

#map {
    height: 100%;
    width: 88%;
    top: 60;
    margin-bottom: 10px;
}


body {
  font-family: 'Arvo', serif;
  padding-top: 140px;
  /*background-color: gray;*/
}

.btn-success-outline{
  border: 2px solid #29a3a3;
  color:#29a3a3;
}

.btn-success-outline:hover {
    color: #fff;
    background-color: #29a3a3;
    border-color: #29a3a3;
}

.btn-success-outline:active {
  border-color: #29a3a3;
  color: #29a3a3;
  box-shadow: none;
}

.btn-success-outline:focus {
  background-color: #29a3a3;
}

.btn-success {
  border-color: #29a3a3;
  background-color: #29a3a3;
}

.btn-success:focus {
  border-color: #29a3a3;
  background-color: #29a3a3;
}

.btn-success:hover {
    color: #fff;
    background-color: #1f7a7a;
    border-color: #1f7a7a;
}


.btn-success:active {
    color: #fff;
    background-color: #29a3a3;
    border-color: #29a3a3;
}

.card {
  margin-top: 0px;
  margin-left: 10px;
  margin-bottom:10px;
  border-radius:0px;
  border: rgba(51,51,51,0.7);
  box-shadow: 6px 10px 47px -4px rgba(0,0,0,0.5);
}

.card-img {
  border-radius:0px;
}

.col-sm-12, .col-md-4, .col-lg-3{
  padding: 0;
}

.fa {
  margin-top: 12px;
  margin-right: 15px;
  margin-left: 5px;
}

.list-group-item{
  padding-left: 8px;
  padding-right: 8px;
}

.dropdown-menu{
  background-color: rgba(255,255,255,1);
  padding-left: 5px;
  padding-right: 5px;
}

.dropdown-menu .bottom {
  background-color: white;
  text-align: center;
}

#login-button {
  width: 100%; 
  margin-top: 4px;
  margin-bottom: 8px;
}

a {
  color:#e65c00;
}

a:hover{
  color:#bf4c00;
}

.subtext {
  color: white;
}

.small-text {
  font-family: 'Fira Sans', sans-serif;
  /*font-family: 'Open Sans', sans-serif;*/
  font-weight: 300;
  font-size: 13px;
}

.comment-list{
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.drop-text {
  font-size: 14px;
}

.modal-body {
  padding-bottom: 0px;
}

.modal-footer {
  margin-top: 15px;
}

.media-object{
  width:50px;
}

.thumb1 { 
background: url(blah.jpg) 50% 50% no-repeat; /* 50% 50% centers image in div */
width: 64px;
height: 64px;
}

.hidden-overlay{
  opacity: 0.0;
}

.for-title{
  padding-top:90px;
  padding-left:50px;
}


@media (max-width: 768px) {
    .container-fluid {
      padding:0;
      margin:0;
    }

    body {
      padding-top:140px;
      margin: 0;
    }

    .fixed {
      position: relative;
    }

    #map-container{
      margin-top: 6px;
      margin-bottom: 6px;
      height:200px;
      width:100%;
    }

    #map {
        height: 200px;
        width:100%;

        margin-bottom: 10px;
    }

    .search{
      width:70%;
    }

    .for-title{
      padding-top:50px;
      padding-left:20px;
      padding-right:20px;
    }

    .card{
      width:100%;
      margin-left: 0px;
    }
}

