{% extends 'base.html' %}
{% block content %}

<br>
<br>

<!-- user will need to click on map/drop pin to add a new location. lat/long coords will be pulled from there -->

<form action="/handle-add-tag" method="POST">


    Title: <input type="text", name="title", id="add-title"/>

    Artist:<input type="text", name="artist", id="add-artist"/>

    Details:<input type="text", name="details", id="add-details"/>

    Image Url:<input type="text", name="image_url", id="add-image-url"/>

    <input type="submit" value="Tag it"/>

</form>


{% endblock %}



