{% extends 'base.html' %}
{% block content %}

<br>
<br>

<!-- user will need to click on map/drop pin to add a new location. lat/long coords will be pulled from there -->

<form action="/handle-add-tag" method="POST">

    <label for="add-title">Title:</label>
    <input type="text", name="title", id="add-title"/>

    <label for="add-artist">Artist:</label>
    <input type="text", name="artist", id="add-artist"/>

    <label for="add-details">Details:</label>
    <input type="text", name="details", id="add-details"/>

    <label for="add-image-url">Image Url:</label>
    <input type="text", name="image_url", id="add-image-url"/>

    <input type="submit" value="Tag it"/>

</form>


{% endblock %}



