<!doctype html>
<html>
<head>

 <script src="https://code.jquery.com/jquery.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
    async defer></script> 

  <script src="/static/mapstyle.js"></script>

  <script src="/static/tags.js"></script>
  <link href="/static/maps.css" rel="stylesheet">

        

  <title>Tagline</title>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
  {% endwith %}
  
  {% block head %}
      <!-- put extra CSS/JS here -->
  {% endblock %}

</head>

<body>
  Here is my logo and nav bar. And probably the login and profile icons later on.
<a href="/login"> Log in </a>
  <hr>
        
  {% block body %} put content here {% endblock %}

</body>
</html>