{% extends 'base.html' %} 


{% block body %}

<!--   Here is my logo and nav bar. And probably the login and profile icons later on.
<div id="login-form"></div><button id="login">Log in</button>
  <hr> -->

<!--     <div class="address-form">
        Origin: <input id="origin" type="text" />
        Destination: <input id="destination" type="text" />
        <input id="get-route" type="submit" value="Go"/>
    </div> -->
    <br>
    <div id="map"></div>
    <div id="tag-info-box">
        <div id="tag-info"></div>
    </div>


{% endblock %}


