{% extends 'base.html' %} 

{% block head %}

          <style>
      #map {
        width: 500px;
        height: 600px;
        background-color: #CCC;
        float: left;
      }

/*      #sidebar {
        background: white;
        padding: 10px;
      }*/

      #tag-info-box {
        width: 300px;
        height: 600px;
        margin-left: 10px;
        background-color: #CCC;
        float: left;
      }
      </style>

{% endblock %}


{% block body %}


<!-- ################# HTML FOR HOMEPAGE BELOW #################### -->

    <div class="address-form">
        Origin: <input id="origin" type="text" />
        Destination: <input id="destination" type="text" />
        <input id="submit" type="submit" value="Go"/>
    </div>
    <br>
    <div id="map"></div>
    <div id="tag-info-box">
        <div id="tag-info">placeholder tag text</div>
    </div>
    <!-- <div id="sidebar">Tag content goes here</div> -->


<!-- ################# HTML FOR HOMEPAGE ABOVE #################### -->

    
<!-- ################# JAVASCRIPT FOR MAP SEARCH #################### -->

<script>

  function initMap() {

    var directionsService = new google.maps.DirectionsService;
    var directionsDisplay = new google.maps.DirectionsRenderer({
        suppressMarkers: true,
        polylineOptions:{strokeColor:'#FF0099', strokeOpacity: 1.0}
    });

    var mapDiv = document.getElementById('map');
    var map = new google.maps.Map(mapDiv, {
        center: {lat: 37.7749, lng: -122.4194},
        zoom: 13,
        scrollwheel: true,
        zoomControl: true,
        panControl: false,
        mapTypeControl: false,
        streetViewControl: false,
        // styles: MAPSTYLES,
        mapTypeId: google.maps.MapTypeId.ROADS
    });

    directionsDisplay.setMap(map);

    // eventually, attach this marker to the user's current location
    var marker = new google.maps.Marker({
        position: {lat: 37.788780, lng: -122.411885},
        map: map,
        icon: '/static/point.png'
    });

    // var sideBar = document.getElementById('sidebar');
    // var tags = ['tag1','tag2','tag3'];
    // for (i=0; i < tags.length; i++){
    //     var div = document.createElement('div');
    //     div.innerHTML = tags[i];
    //     sideBar.appendChild(div);
    // }

    $('#submit').click(function() {
        // on directions search submission, find and display the path
        calcAndDisplayRoute(directionsService, directionsDisplay);

        // also request and add markers for tags along path (bbox function and query happening in Flask route)
        $.post('/tags.json', {origin: document.getElementById('origin').value,
            destination: document.getElementById('destination').value}, function(tags) {
            var tag, marker;
            for (var key in tags) {
                tag = tags[key];

                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(tag.latitude, tag.longitude),
                    map: map,
                    title: tag.title
                });

                html = ('<p><b>Title: </b>' + tag.title + '</p>');

                // this will bind the marker to the html containing info about the tag (which will appear in the sidebar on click)
                bindInfo(marker, html)
            }
        })

    });

    function bindInfo(marker, html){
        google.maps.event.addListener(marker, 'click', function() {
            $('#tag-info').html(html);
        });

    }

    // map.controls[google.maps.ControlPosition.RIGHT_CENTER].push(sideBar);


  }



function calcAndDisplayRoute(directionsService, directionsDisplay) {
    directionsService.route({
        origin: document.getElementById('origin').value,
        destination: document.getElementById('destination').value,
        travelMode: google.maps.TravelMode.WALKING
    }, function(response, status){
        if (status === google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
        } else{ 
            window.alert('Directions request failed');
        }
    });
}



</script>

    <script src="https://code.jquery.com/jquery.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
    async defer></script>

<!-- ######################################################## -->





<!-- ##########OLD STUFF FOR LOGIN############ -->


<!-- if user in session, show add tag option
<a href="/add-tag">Add new tag</a>

<br><br>
<!-- if user not in session, show login. if in session, show log out -->

<!-- <div id="tag-map"></div> -->





{% endblock %}

