{% extends 'base.html' %}
{% block content %}

<h2>{{ landmark.title }}</h2>

Artist: {{ landmark.artist }} <br>
Details: {{ landmark.details }}<br>
<br>


{% if landmark.image_url %}
<img src="{{ landmark.image_url }}"> <br>
{% endif %}


<form action='/handle-comment' method="POST">
    Add comment: <input type="text" name="comment">
    <input type="hidden" name="landmark_id" value="{{ landmark.landmark_id }}">
    <input type="submit" value="Submit">
</form>

Comments:
<ul>
    {% for comment in landmark.comments%}
    <li> 
        {{ comment.content}}
    </li>
    {% endfor %}
</ul>

<!-- <form action="/route" method="POST">
    
    <input type="hidden", value=""/>
    <input type="submit" value="Return"/>

</form>
 -->
{% endblock %}