{% extends 'base.html' %}
{% block body %}

<h2>Register</h2>

<form action="/handle-registration" method="POST">
    <input type="text" class="form-control" name="name" placeholder="Name" id="name-input"/><br>
    <input type="text" class="form-control" name="username" placeholder="Username" id="username-input"/><br>
    <input type="password" class="form-control" name="password" placeholder="Password" id="password-input"/><br>

    <!-- make for loop for genres here -->
    Interests:<br>
    <div class="btn-group" data-toggle="buttons"> 

        {% for genre in genres %}

        <label class="btn btn-default">
            <input type="checkbox" name="genres" id="{{genre.genre}}" value="{{genre.genre}}">{{genre.genre}}
        </label>

        {%endfor%}
        
    </div>
    <br><br>

    <input type="submit" class="btn btn-primary" value="Register"/>
</form>
<br>

<div class="form-group">

</div>

{% endblock %}