{% extends 'base.html' %}

{% block head %}
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/static/mapstyle.js"></script>

    <script src="/static/tags.js"></script>

    <link href="/static/maps.css" rel="stylesheet">

{% endblock %}


{% block body %}

<h2>Landmarks along this route</h2>

<div id="tag-map"></div>

<ul>
    {% for landmark in route_landmarks %}

        <li> 
            <a href="/route/{{ landmark.landmark_id }}"> {{ landmark.title }}</a>
            {% if landmark.image_url %}
            Image: <img src="{{ landmark.image_url }}"> <br>
            {% endif %}
        </li>

    {% endfor %}
</ul>

{% endblock %}