{% extends 'base.html' %} 

{% block head %}
  


<script src="/static/map.js"></script>
<script src="/static/infodivs.js"></script>
<script src="/static/page.js"></script>
<script src="/static/mediaupload.js"></script>
<script src="/static/fontawesome-markers.min.js"></script>

<style>

.wf-fontawesome-n4-active {
  margin: 0px;
}

body{
  background-image: url("/static/img/bkgrnd.png");
  background-size: cover;
  /*background-width: 1400px;*/
  /*margin:0px;*/
}

.navbar{
  background-color: transparent;
}


.header{
  color:black;
  font-family: 'BlowBrush'; 
  font-size:165px; 
  line-height: 78%;
  letter-spacing: 2px;
  text-align: center;
}

#title-spacing{
  font-size:175px; 
  letter-spacing: 12px;
}

</style>

{% endblock %}

{% block body %}



<nav class="navbar navbar-light navbar-fixed-top">
  <a class="navbar-brand" href="/"><img class="navbar-brand" src="/static/img/outline-logo.png"></a>

  <form class="form-inline" id="nav-form">

    <ul class="nav navbar-nav pull-xs-right" id="login-tog">

      <li>
    <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Login
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">

      <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
        <div class="form-group">
           <label class="sr-only" for="inputUsername">Username</label>
           <input type="text" class="form-control" id="inputUsername" placeholder="Username" required>
        </div>
        <div class="form-group">
           <label class="sr-only" for="inputPassword">Password</label>
           <input type="password" class="form-control" id="inputPassword" placeholder="Password" required>

        </div>
        <div class="form-group">
           <button type="button" class="btn btn-success btn-block" id="login-button">Sign in</button>
        </div>
      </form>

      <div class="bottom">
        <div id="not-registered"></div>
        <small>New here?<br></small> <a href="/register">Register</a>
      </div>
    </li>

  </ul>
</form>
</nav>


<div class="container-fluid">

    <div class="col-md-7"></div>

    <div class="col-sm-5 col-md-5 col-lg-3 for-title"> 
      <p class="header"><span id="title-spacing">Tag</span><br>line</p>
      <p>some descriptive text about the site</p>
      <a type="button" class="btn btn-success btn-lg btn-block" href="/">Enter</a>
    </div>

  </div>


</div>  




<script>
$('#login-button').click(function(){
    console.log('clicked login');
    $.post('/login.json',{
      'username': $('#inputUsername').val(),
      'password': $('#inputPassword').val()
    }, function(currentUser){
      if (currentUser.name === "not recognized") {
           $('#not-registered').html('<p>Username or password <br> not recognized.</p>'); 
    } else {
      $('#login-tog').html('<li><p class="navbar-text">Welcome, ' + currentUser.name + '</p></li>');
    }
    console.log(currentUser)}
  )})



</script>


{% endblock %}


